


<div class="landing">
    <h1 class="title">Welcome to the Learning Management System</h1>

    <div class="button-group">

        <%= button_to "Login", '/login', method: :get %>
        <%= button_to "Sign Up", '/signup', method: :get %>

    

    </div>
    <%= link_to "Log in with Facebook", '/auth/facebook' %>
</div>