<h1>Welcome to the MUSC 140 Portal Page</h1>

<div class="button_group">

    <%= button_to "Login", '/login', method: :get %>
    <%= button_to "Sign Up", '/signup', method: :get %>

    <%= link_to "Log in with Facebook", '/auth/facebook' %>

</div>