/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --primary-background: rgb(224, 224, 224);
    --secondary-background: rgb(70, 70, 70); 
    --button-color: rgb(0, 180, 225);
}

html{

}

body {
    text-align: center;
    background-color: var(--primary-background);
    font-family: 'Trebuchet MS';
}

.landing{
    margin-top: 150px;

}
.banner {
    padding: 10px 0 20px 0;
    background-color: var(--secondary-background);
    color: whitesmoke;
    border-radius: 8px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
    

input, textarea, select{
    border-radius: 4px;
    border: 1px solid black;
    margin-top: 4px;
}

input[type=submit]{
    display: inline;
    text-align: center;
    border: none;
    background-color: var(--button-color);
    color: rgb(235, 235, 235);

    padding: 10px;
    margin-top: 10px;
    min-width: 175px;
}

input[type=submit]:hover{
    box-shadow: 0 0 20px white;
}


.title {
    font-family: 'Trebuchet MS';
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    margin: 0 auto;
}

.button-group input {
    height: 100px;
    width: 100px;
    font-size: 1.5em;
} 

.lesson-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--secondary-background);
    padding: 10px 0 20px 0;
    border-radius: 10px;
}

ul {
    width: 22%;
    margin: 0 auto;
    text-align: left;
}

li {
    list-style-position: inside;
}

.omniauth-login {
    margin-top: 10px;
}

.user-form{
    background-color: var(--secondary-background); 
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 20px;

    border-radius: 10px;
    color: whitesmoke;
}
